*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
}

.App{
    width: 800px;
}
.headerText{
    text-align: center;
    color: teal;
    font-size:68px;
}
.post{
    margin-top: 10px;
    display: flex;
    padding: 15px;
    border: 1px solid teal;
    justify-content: space-between;
    align-items: center;
}

.strike {
    text-decoration: line-through;
}

.post-enter {
    transform: translateY(-80px);
}
.post-enter-active {
    transform: translateY(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateY(-80px);
    transition: all 500ms ease-in;
}
