.postTitle {
    padding-left: 5px;
    word-break:break-all;
    margin: 10px;
}

.post {
    color: teal;
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid teal;
}
.postChecked {
    background-color:rgba(143, 255, 219, 0.48);
    color: teal;
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid teal;
}
.postItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postDate{
    padding-top: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}